* { box-sizing: border-box; }

body { background-color: #576574; }

.board { display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: #0abde3; padding: 10px 10px; margin: 30px auto; border-radius: 5px; }

.board h1 { font-size: 42px; text-shadow: 2px 2px #ccc; }

.board .create-column { font-size: 18px; background-color: blue; color: #fff; width: 150px; height: 50px; margin-bottom: 20px; }

.board .column-container { background-color: #c8d6e5; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; margin-bottom: 200px; }

.board .column-container .column { background-color: #10ac84; margin: 0 5px; min-width: 275px; min-height: 300px; border: 1px solid #333; margin: 5px; display: flex; flex-direction: column; }

.board .column-container .column h2 { color: black; text-align: center; }

.board .column-container .column .add-card { background-color: #1dd1a1; font-size: 18px; text-align: center; }

.board .column-container .column .btn-delete { position: relative; background-color: blue; color: #fff; width: 30px; height: 30px; }

.board .card { background-color: #1dd1a1; border: 1px solid #000; }

.board .card .card-description ul li { text-align: center; }
